  * {margin: 0; padding: 0;}
  div {
    margin:50px auto; 
    background:#ccc; 
    width:80%; 
    height:100px;
}
.blok1 {
    background-image: url(img1.jpg); background-size: cover;
    border-radius: 40px;
}

.blok2 {
    border: 1px solid #000000;
    border-radius: 20px 50px;
}
.blok3 {
    border: 18px solid #000000;
    border-radius: 22px;
    -moz-border-image: url(borderimg.png) 22 repeat round;
    -webkit-border-image: url(borderimg.png) 22 repeat round;
    -o-border-image: url(borderimg.png) 22 repeat round;
    border-image: url(borderimg.png) 22 repeat round;
    text-align: center;
}
.blok4 {
    background: #ffffff;
    box-shadow: 0px 0px 15px 5px #fff000, inset 0px 0px 15px 5px #fff000 ;
}
.blok5 {
    border-radius: 20px;
    background:url('img1.jpg'); width: 320px; height: 187px; padding: 40px;
    box-shadow:0px 0px 15px 5px rgb(124, 25, 91), inset 0px 0px 15px 5px rgb(124, 25, 91);
  }
  .blok5 p{
      background-color:#fff; color:#000; padding:25px; font:bold 20px "Trebuchet MS";
      border-radius: 20px;
      box-shadow:0px 0px 15px 5px rgb(124, 25, 91), inset 0px 0px 15px 5px rgb(124, 25, 91);
	}
.blok6 {
    background-image: -moz-linear-gradient(#fff, #000);
    background-image: -o-linear-gradient(#fff, #000);
    background-image: -webkit-linear-gradient(#fff, #000);
    background-image: -ms-linear-gradient(#fff, #000);
}	
.blok7 {
    background-image: -moz-repeating-linear-gradient(#fff, #000);
    background-image: -o-linear-gradient(#fff, #000);
    background-image: -webkit-repeating-linear-gradient(#fff, #000);
    background-image: -ms-linear-gradient(#fff, #000);
}